<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Scam_Number_Finder.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <Scam_Number_Finder.My.MySettings>
            <setting name="WaitTime" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="PageNumber" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="EXE" serializeAs="String">
                <value>C:\Program Files\Google\Chrome\Application\chrome.exe</value>
            </setting>
        </Scam_Number_Finder.My.MySettings>
    </userSettings>
</configuration>